.buttonSmall {
-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;
-moz-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3);
-webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3);
box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3);
cursor:pointer;display:inline-block;
font-family:"Lucida Grande", "Helvetica Neue",Helvetica,Arial,sans-serif;font-size:10px;
font-weight: bold;padding:2px 8px;outline:none!important;
text-align:center;text-decoration:none;position:relative;
-moz-box-sizing:border-box!important;line-height:16px;
}
.button {
-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;
-moz-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3);
-webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3);
box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3);
cursor:pointer;display:inline-block;
font-family:"Lucida Grande", "Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;
font-weight: bold;padding:6px 16px;outline:none!important;
text-align:center;text-decoration:none;position:relative;
-moz-box-sizing:border-box!important;line-height:16px;
}
.buttonLarge {
-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;
-moz-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3);
-webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3);
box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3);
cursor:pointer;display:inline-block;
font-family:"Lucida Grande", "Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;
font-weight: bold;padding:6px 16px;outline:none!important;
text-align:center;text-decoration:none;position:relative;
-moz-box-sizing:border-box!important;line-height:16px;
}
.buttonHuge {
-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;
-moz-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3);
-webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3);
box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3);
cursor:pointer;display:inline-block;
font-family:"Lucida Grande", "Helvetica Neue",Helvetica,Arial,sans-serif;font-size:20px;
font-weight: bold;padding:10px 16px;outline:none!important;
text-align:center;text-decoration:none;position:relative;
-moz-box-sizing:border-box!important;line-height:16px;
}
.buttonEpic {
-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;
-moz-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3);
-webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3);
box-shadow:inset 1px 1px 0 rgba(255,255,255,0.3);
cursor:pointer;display:inline-block;
font-family:"Lucida Grande", "Helvetica Neue",Helvetica,Arial,sans-serif;font-size:28px;
font-weight: bold;padding:16px 16px;outline:none!important;
text-align:center;text-decoration:none;position:relative;
-moz-box-sizing:border-box!important;line-height:16px;
}
.button:hover{text-decoration:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;}
.button span {
display:inline-block;float:left;
height:16px;margin-right:5px;
position:relative;width:16px;
}

.button-gray{background:#f1f1f1;background:-webkit-gradient(linear,left top,left bottom,from(#e9e9e9),to(#d1d1d1));background:-moz-linear-gradient(top,#e9e9e9,#d1d1d1);-pie-background:linear-gradient(top,#e9e9e9,#d1d1d1);border:1px solid #bbb;color:#555;text-shadow:0 1px 0 #fff;
}
.button-gray:hover,.button-gray:focus{border:1px solid #aaa;background:#ececec;background:-webkit-gradient(linear,left top,left bottom,from(#e1e1e1),to(#c1c1c1));background:-moz-linear-gradient(top,#e1e1e1,#c1c1c1);-pie-background:linear-gradient(top,#e1e1e1,#c1c1c1);border:1px solid #999;color:#555;
}
.button-orange{background:#f78d1d;background:-webkit-gradient(linear,left top,left bottom,from(#faa51a),to(#f47a20));background:-moz-linear-gradient(top,#faa51a,#f47a20);-pie-background:linear-gradient(top,#faa51a,#f47a20);border:solid 1px #d61;color:#fef4e9;text-shadow:0 1px 1px rgba(0,0,0,0.25);
}
.button-orange:hover,.button-orange:focus{background:#f47c20;background:-webkit-gradient(linear,left top,left bottom,from(#f88e11),to(#f06015));background:-moz-linear-gradient(top,#f88e11,#f06015);-pie-background:linear-gradient(top,#f88e11,#f06015);border:solid 1px #a51;color:#fef4e9;
}
.button-red{background-color:#C44747;background:-moz-linear-gradient(top,#DD5F5F 10%,#A92C2C 90%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0.1,#DD5F5F),color-stop(0.9,#A92C2C));-pie-background:linear-gradient(top,#DD5F5F 10%,#A92C2C 90%);border:1px solid #A92C2C;color:#fef4e9;text-shadow:0 1px 1px rgba(0,0,0,0.25);
}
.button-red:hover,.button-red:focus{background-color:#C44747;background:-moz-linear-gradient(top,#DD4141 10%,#A92121 90%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0.1,#DD4141),color-stop(0.9,#A92121));-pie-background:linear-gradient(top,#DD4141 10%,#A92121 90%);border:1px solid #711;color:#fef4e9;
}
.button-blue{background:#0095cd;background:-webkit-gradient(linear,left top,left bottom,from(#00adee),to(#0078a5));background:-moz-linear-gradient(top,#00adee,#0078a5);-pie-background:linear-gradient(top,#00adee,#0078a5);border:1px solid #034462;color:#fff;text-shadow:0 1px 1px #00adee;
}
.button-blue:hover,.button-blue:focus{background:#007ead;background:-webkit-gradient(linear,left top,left bottom,from(#0095cc),to(#00678e));background:-moz-linear-gradient(top,#0095cc,#00678e);-pie-background:linear-gradient(top,#0095cc,#00678e);border:1px solid #234;color:#fff;
}
.button-green{color:#fff;background:#8fc857;background:-webkit-gradient(linear,left top,left bottom,from(#8fc857),to(#5c9425));background:-moz-linear-gradient(top,#8fc857,#5c9425);-pie-background:linear-gradient(top,#8fc857,#5c9425);text-shadow:0 1px 1px rgba(0,0,0,0.25);border:1px solid #561;
}
.button-green:hover,.button-green:focus{border:1px solid #561;background:#8fbb44;background:-webkit-gradient(linear,left top,left bottom,from(#8fbb44),to(#5c8825));background:-moz-linear-gradient(top,#8fbb44,#5c8825);-pie-background:linear-gradient(top,#8fbb44,#5c8825);border:1px solid #342;
}
