{% extends "layout.html" %}
{% block body %}
<h3>Bug Queue</h3>

<div class=selectUser>

  <form name=selectUser method=POST>

    <!-- <input type=text size=30 name=other_username value="{{ other_username }}"> -->

    <select name="other_username">
      <option value = "all"> All </option>
      {% for i in users %}
        {% if i['username'] == session['username'] %}
            <option value="{{i['username']}}" selected='selected' >{{i['username']}}</option>
        {% else %}
            <option value="{{i['username']}}" >{{i['username']}}</option>
        {% endif %}
      {% endfor %}


    </select>
    <input type=submit value="See Queue">

  </form>

</div>

<div class=bugQueue>
  <table class=bugQueue>
    <tr>
      <th> Customer </th>
      <th> Title </th>
      <th> Priority </th>
      <th> Status </th>
    </tr>

    {% for d in bugs %}

    <tr>
      <td> {{ d['customer'] }} </td>
      <td> <a href="/bug?bug_id={{ d['bug_id'] }}"> {{ d['title'] }} </a></td>
      <td> {{ d['priority'] }} </td>
      <td> {{ d['status'] }} </td> 
    </tr>


    {% endfor %}

  </table>
</div>

<div class=options>
  <a href="addBug" class="button button-gray">Create New Bug</a>
  <a href="queue" class="button button-gray">Refresh Queue</a>
</div>
{% endblock %}

